.iconlist {
  line-height: 200%;
  font-size: 22px;
}

.heading-block ~ p:not(.lead) {
  font-size: 20px;
}

.promo.promo-light {
  background-color: #888;
}
.col-padding {
    padding: 65px;
}

h5 {
    font-size: 21px;
}
.feature-box h3 {
  font-size: 14px;
}

.bold-header {
  color:white;
}
#content {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

#page-title.page-title-parallax {
    background-color: #337ab7;
  }

  element.style {
      padding: 120px 0px;
      background-image: url("../static/img/hikers.jpg");
      background-position: 50% -31.5px;
  }

  .line, .double-line {
      clear: both;
      position: relative;
      width: 70%;
      /* padding-top: 60px; */
      border-top: 1px solid #888;
      /* float: right; */
      left: 15%;
      /* background: #fff; */
      /* padding-bottom: 60px; */
  }
