{% extends "base.html" %}

{% block title %}
<title> Area | Villa 19 </title>
{% endblock %}

{% block slider %}
<section id="slider" class="slider-parallax swiper_wrapper boxed-slider clearfix">
  <div class="fslider" data-speed="3000" data-pause="7500" data-animation="fade" data-arrows="false" data-pagi="false" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: #333;">
    <div class="flexslider">
      <div class="slider-wrap">
        <div class="slide full-screen force-full-screen" style="background: url('{% static '/static/img/vistamar-golf-course.jpg'%}') center center; background-size: cover; height: 100% !important;">
          <div class="vertical-middle">
            <div class="heading-block center nobottomborder dark overlay hidden-xs">
              <h1 data-animate="fadeInUp">Activities around the house!</h1>
              <span data-animate="fadeInUp" data-delay="300">Some of the activities that you and your friends can practice in the exclusive ambiance of VistaMar</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-height-xxs="250" id="travel-slider-overlay">
    <div class="vertical-middle">
      <div class="heading-block center nobottomborder dark visible-xs">
        <h1 >Texto de prueba para portrait images</h1>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}
<!-- Page Title
============================================= -->
<section id="page-title" style="padding: 40px 0px;";>

            <div class="container clearfix">
                <h1>Actividades</h1>
                <span>Todo tipo de actividades a tu alcance</span>
                <ol class="breadcrumb">
                    <li><a href="index.html">Inicio</a></li>
                    <li>Villa 19</li>

                </ol>
            </div>

        </section>

        <section id="content">

                    <div class="content-wrap">

                        <div class="container clearfix">
                            <div class="heading-block center">

                            <div class="col_one_third">
                                <img src="\static\img\vistamar-golf-course.jpg" alt=" Nosotros ">

                            </div>
                            <div class="col_two_third  col_last">
                                <h5>JARDINES</h5>
                                <p>Vista Mar Golf & Beach Resort cuenta con un lugar muy especial para quienes desean realizar actividades de lectura y meditación en un entorno natural.  </p>
                                  <p>Un paraíso tropical con exuberante vegetación, un hermoso arroyo y cascada natural; decoración precolombina, asientos de piedra y amplias zonas para descansar y disfrutar.</p>

                            </div>
                            </div>

                            </div>
                            <div class="container clearfix">
                                <div class="heading-block center">

                                <div class="col_one_third">
                                    <img src="\static\img\vistamar-golf-course.jpg" alt=" Nosotros ">

                                </div>
                                <div class="col_two_third  col_last">
                                    <h5>GOLF</h5>
                                    <p>Este complejo turístico residencial, a sólo 3 minutos de la Vía Interamericana, cuenta con una espléndida cancha de golf  de calidad mundial, diseñada por J. Michael Poellot, con exclusivo césped natural hidropónico, hermosos paisajes y vistas al Océano Pacífico desde cada uno de sus 18 hoyos.</p>

                                </div>
                                </div>

                                </div>
                                <div class="container clearfix">
                                    <div class="heading-block center">

                                    <div class="col_one_third">
                                        <img src="\static\img\vistamar-golf-course.jpg" alt=" Nosotros ">

                                    </div>
                                    <div class="col_two_third  col_last">
                                        <h5>GIMNASIO</h5>
                                        <p>Para mantener la mente y el cuerpo en la mayor armonía, Vista Mar Golf & Beach Resort le ofrece un área especialmente acondicionada, con toda clase de máquinas para realizar ejercicios de peso, resistencia y actividades cardiovasculares.  Además se imparten clases de yoga, aeróbicos.
 </p>

                                    </div>
                                    </div>

                                    </div><div class="container clearfix">
                                        <div class="heading-block center">

                                        <div class="col_one_third">
                                            <img src="\static\img\vistamar-golf-course.jpg" alt=" Nosotros ">

                                        </div>
                                        <div class="col_two_third  col_last">
                                            <h5>CLUB HOUSE</h5>
                                            <p>El Resort cuenta con instalaciones y facilidades para compartir y disfrutar. Una piscina  espectacular estratégicamente ubicada frente al mar.  Un exclusivo restaurante con menú mediterráneo y los mejores frutos del mar, con una mezcla única de sabores producto de la imaginación y destrezas de su Chef Internacional.  Un área de playa para caminar, tomar sol y bañarse en las cálidas aguas del mar.
</p>


                                        </div>
                                        </div>

                                        </div>
                            </div>




                </section>
{% endblock %}
