{% extends "base.html" %}

{% block title %}
<title> Facilities | Villa 19 </title>
{% endblock %}

{% block slider %}
<section id="slider" class="with-header swiper_wrapper full-screen clearfix">
  <div class="fslider" data-speed="3000" data-pause="7500" data-animation="fade" data-arrows="false" data-pagi="false" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: #333;">
    <div class="flexslider">
      <div class="slider-wrap">
        <div class="slide full-screen force-full-screen" style="background: url('{% static '/static/img/vistamar-helicopter-view.jpg'%}') center center; background-size: cover; height: 100% !important;">
          <div class="vertical-middle">
            <div class="heading-block center nobottomborder dark hidden-xs">
                <h1 data-animate="fadeInUp">La más hermosa vista y brisa marina para compartir y disfrutar!</h1>

            </div>
          </div>
        </div>




</section>
{% endblock %}

{% block body %}
<div class="line bottommargin-lg"></div>
<div class="col_two_fifth nobottommargin">

    <img src="static\img\vistamar_slider2.JPG" alt="Image"  hspace="20">

  </a>
</div>

<div class="col_three_fifth nobottommargin col_last">

  <div class="heading-block">
    <h3>La más hermosa vista y brisa marina para compartir y disfrutar!</h3>
  </div>

  <div class="col_half nobottommargin">
    <ul class="iconlist iconlist-color nobottommargin">
      <li><i class="icon-caret-right"></i> Cinco cómodas habitaciones con A/C y baño privado</li>  </ul>

   <ul class="iconlist iconlist-color nobottommargin">  <li><i class="icon-caret-right"></i> Estudio con área de bar</li>  </ul>

    <ul class="iconlist iconlist-color nobottommargin">  <li><i class="icon-caret-right"></i> Amplias terrazas</li>  </ul>

  </div>

  <div class="col_half nobottommargin col_last">
    <ul class="iconlist iconlist-color nobottommargin">
      <li><i class="icon-caret-right"></i> Área de barbacoa y piscina infinity frente al mar</li></ul>

    <ul class="iconlist iconlist-color nobottommargin">  <li><i class="icon-caret-right"></i> Cancha de volibol de playa y de raquetbol</li></ul>

    <ul class="iconlist iconlist-color nobottommargin"><li><i class="icon-caret-right"></i> Rancho con hamacas y jardines tropicales. </li></ul>


  </div>

</div>

<div class="clear"></div>

</div>
<div class="line bottommargin-lg"></div>



<div class="row common-height bottommargin-lg clearfix">

                    <div class="col-sm-7 col-padding" style="height: 624px; background-color: rgb(245, 245, 245);">
                        <div>
                            <div class="heading-block">

                                <h3> Cerca de Ti</h3>
                            </div>




                                    <p>A solo una hora de la Ciudad, en la Costa Pacífica Panameña, en el Distrito de San Carlos, se encuentra ubicada la Villa 19 en Vista Mar; una exclusiva residencia de playa donde usted y su familia podrán disfrutar una experiencia única e inolvidable.
</p>




                        </div>
                    </div>
<div class="col-sm-5 col-padding" style="height: 624px; background: url(file:///C:/Users/Juan%20Piad/Desktop/Package-HTML/HTML/images/team/8.jpg) 50% 50% / cover no-repeat;"></div>
                    <div class="col-sm-5 col-padding" style="height: 624px; background: url('{% static '/static\img\vistamar-helicopter-view.jpg'%}') 50% 50% / cover no-repeat;"></div>




                </div>
{% endblock %}
