{% extends "base.html" %}

{% block body %}
<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 120px 0px; background-image: url(&quot;../static/img/bg/portfolio.jpg&quot;); background-position: 50% 0px;" data-stellar-background-ratio="0.3">
    <div class="container clearfix">
        <h1 data-animate="fadeInUp" class="fadeInUp animated">Tours cerca de Vista Mar </h1>
        <span data-animate="fadeInUp" data-delay="300" class="fadeInUp animated">Variedad de tours muy cerca de ti</span>
    </div>

</section>



<div class="row clearfix common-height">

					<div class="col-md-6 center col-padding" style="height: 674px; background: url(&quot;static/img/elvalle.jpg&quot;) 50% 50% / cover no-repeat;">
						<div>&nbsp;</div>
					</div>

					<div id="elvalle"class="col-md-6 center col-padding" style="height: 674px; background-color: rgb(245, 245, 245);">
						<div>
							<div class="heading-block nobottomborder">
								<h3>EL VALLE</h3>
							</div>

							<div class="center bottommargin">

							</div>
							<p class="lead nobottommargin" align="left">La única comunidad ubicada en el cráter de un volcán, con hermosos lugares para visitar. Zoológico El Níspero, Chorro El Macho, Jardín de Orquídeas, Mariposario, Aguas Termales, Arboles Cuadrados, Petroglifos y un Mercado Público con gran variedad de frutos de la tierra y artesanías del lugar.
</p>
<br> <p  class="lead nobottommargin" align="left">Para quienes disfrutan de hacer caminatas por senderos naturales, El Valle cuenta con el Cerro de La India Dormida, cuya silueta es de una mujer reclinada, y Cerro El Gaital, el pico más alto de la zona.</p>
						</div>
					</div>

				</div>



        <div class="row clearfix common-height">
          <div class="col-md-6 center col-padding" style="height: 674px; background-color: #ccc;">
            <div>
              <div class="heading-block nobottomborder">
                <h3>CHAME – LOS CAJONES</h3>
              </div>

              <div class="center bottommargin">

              </div>
              <p class="lead nobottommargin" align="left">A unos 15 km de la carretera interamericana, después de pasar poblados como Bejuco, Llano Grande, Buenos Aires y Bajo del Río, encontramos a Buena Vista, sitio enclavado dentro del corregimiento de Buenos Aires,
                 en medio de una cadena montañosa, formada por varios cerros y colinas que alcanzan entre los 400 y 700 metros de algura sobre el nivle del mar. En esta geomorfología abrupta se asoman profundos cañones que guardan en el fondo una hermosa vegetación tropical, un conjunto de cerros escabrosos de únicas y espectaculares formas, llamando más que todo la atención el conocido Cerro El Peñon de 467 metros, una obsesión para cualquier montañista que desee escalarlos o simplemente caminar por el fondo de estrechas paredes rocosas pobladas de plantas exóticas de varios metros de altura.

La tierra en su geológica no es muy antigua, pero los árboles que presiden los cañones estaban allí mucho antes de la llegada de los primeros pobladores.

      </p>
      <br> <p  class="lead nobottommargin" align="left">De repente el Río chame se puede estrechar tanto qu etodos quedamos atónitos, se reduce a un promontorio de piedra de casi 8 metros de altura que corre a ambas orillas, durante cientos de metros los peñascos sepultan completamente las aguas que culebrean suavemente a través del monto rocoso alcanzando profundidades considerables.

      El lugar parece ser un cañón creado por el paso del agua del río, es un lugar donde hay muchas lajas y rocas también cuevas y lugares apropiados para nadar. Muy buen lugar para acampar y bañarse. hay que dejar los autos en un punto del camino y avanzar durante media hora caminando.

      Nos dice el Sr. Santiago “solo deben seguir aguas arriba pro todo el río y llegarán al lugar que buscan”, él ha habitado toda su vida el poblado de Buena Vista.

      Se pueden realizar actividades variadas, como rapel, descenso en tubo por el río y senderismo.</p>
            </div>
          </div>
        					<div class="col-md-6 center col-padding" style="height: 674px; background: url(&quot;static/img/cajones.jpg&quot;) 50% 50% / cover no-repeat;">
        						<div>&nbsp;</div>
        					</div>



        				</div>

                <div class="row clearfix common-height">

                					<div class="col-md-6 center col-padding" style="height: 674px; background: url(&quot;static/img/cascada.jpg&quot;) 50% 50% / cover no-repeat;">
                						<div>&nbsp;</div>
                					</div>

                					<div class="col-md-6 center col-padding" style="height: 674px; background-color: rgb(245, 245, 245);">
                						<div>
                							<div class="heading-block nobottomborder">
                								<h3>NUESTRO RECORRIDO</h3>
                							</div>

                							<div class="center bottommargin">

                							</div>
                							<p class="lead nobottommargin" align="left">Salida del Hotel para encontrarnos con nuestro guía en Bejuco e inciar el recorrido hacia Los Cajones. Debemos salir del hotel a las 7:00 a.m.

En Los Cajones estaremos aproximadamente 2 horas. En dicho espacio de tiempo los visitantes podrán disfrutar de un rico baño y una leve caminata por la formación rocosa.

Se brindará información geológica del sitio y de los principales lugares poblados en la zona.

Nos trasladamos al Salto de Filipinas. Tiempo probable de viaje 20 minutos hasta el poblado de Sorá.  Breve explicación sobre el poblado, origen del nombre, población, actividades económicas,
                </p>
                <br> <p  class="lead nobottommargin" align="left">Entre otros.

                Llegada a la cascada de Filipinas 11:00 a.m.   Estadía 2 horas.  Actividades: observación de flora y fauna, caminata y podrán disfrutar del baño. Visita a la casa del señor Héctor Navarro dueño de los terrenos del salto  y visita a la escuela como actividad extra. Salida del sitio a las 1:00 p.m traslado hasta Sorá donde se les brinda un rico almuerzo y regresamos al Hotel para continuar disfrutando de las instalaciones.
<br>
Los Cajones (asombroso laberinto de rocas)<br>
Salto de Filipina<br>

Duración del recorrido: 8 horas<br>

Incluye:<br>
	Transporte Hotel – Chamé – Los Cajones – Salto Filipinas - Hotel<br>
Guía especializado<br>
	Entradas a sitios de interés (si son necesarias)<br><br>

Mínimo 4 personas<br>
Precio por persona: $85,00
</p>
                						</div>
                					</div>

                				</div>

                        <div class="row clearfix common-height">
                          <div class="col-md-6 center col-padding" style="height: 674px; background-color: #ccc;">
                            <div>
                              <div class="heading-block nobottomborder">
                                <h3>CHAME – BUENA VISTA Y SUS SALTOS</h3>
                              </div>

                              <div class="center bottommargin">

                              </div>
                              <p class="lead nobottommargin" align="left">A unos 15 km de la carretera interamericana, después de pasar poblados como Bejuco, Llano Grande, Buenos Aires y Bajo del Río, encontramos a Buena Vista, sitio enclavado dentro del corregimiento de Buenos Aires, en medio de una cadena montañosa, formada por varios cerros y colinas que alcanzan entre los 400 y 700 metros de algura sobre el nivle del mar. En esta geomorfología abrupta se asoman profundos cañones que guardan en el fondo una hermosa vegetación tropical, un conjunto de cerros escabrosos de únicas y espectaculares formas, llamando más que todo la atención el conocido Cerro El Peñon de 467 metros, una obsesión para cualquier montañista que desee escalarlos o simplemente caminar por el fondo de estrechas paredes rocosas pobladas de plantas exóticas de varios metros de altura.
                        </p>
                        <br> <p  class="lead nobottommargin" align="left">La tierra en su geológica no es muy antigua, pero los árboles que presiden los cañones estaban allí mucho antes de la llegada de los primeros pobladores.

De repente el Río chame se puede estrechar tanto qu etodos quedamos atónitos, se reduce a un promontorio de piedra de casi 8 metros de altura que corre a ambas orillas, durante cientos de metros los peñascos sepultan completamente las aguas que culebrean suavemente a través del monto rocoso alcanzando profundidades considerables.
</p>
                            </div>
                          </div>
                        					<div class="col-md-6 center col-padding" style="height: 674px; background: url(&quot;static/img/elvalle.jpg&quot;) 50% 50% / cover no-repeat;">
                        						<div>&nbsp;</div>
                        					</div>



                        				</div>
        <div class="row clearfix common-height">

                                					<div class="col-md-6 center col-padding" style="height: 674px; background: url(&quot;static/img/elvalle.jpg&quot;) 50% 50% / cover no-repeat;">
                                						<div>&nbsp;</div>
                                					</div>

                                					<div id="elvalle"class="col-md-6 center col-padding" style="height: 674px; background-color: rgb(245, 245, 245);">
                                						<div>
                                							<div class="heading-block nobottomborder">
                                								<h3>PANAMA CITY TOUR</h3>
                                							</div>

                                							<div class="center bottommargin">

                                							</div>
                                							<p class="lead nobottommargin" align="left">Estaremos listo para buscarlo en su Hotel, realizaremos una primera parada en el  Casco Antiguo para luego culminar la mañana en el mirador de las Esclusas de Miraflores, y observar como transita un barco por las esclusas del Canal de Panamá, además de apreciar el Museo del Canal en el mismo lugar. Luego, nos dirigiremos al Causeway, donde podremos conocer sobre la historia de construcción del Canal y de las islas que conforman esta calzada. Podremos degustar el almuerzo por nuestra cuenta en alguno de los restaurantes de la Isla Flamenco. En la misma área visitaremos el Museo de la Biodiversidad, obra del artista Fran Ghery, primer ay única en Latinoamérica.

                                </p>
                                <br>
                                					</div>

                                				</div>
                                      </div>


{% endblock %}
////cambiar fondo a hikers////
